---
http_interactions:
- request:
    method: get
    uri: https://playground.wegift.io/api/b2b-sync/v1/stock/BLUMEN-DE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Og==
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Basic realm="Login Required"
    body:
      encoding: UTF-8
      string: '{"error_code":"SE001","error_details":"Invalid credentials","error_string":"Authentication
        failed","status":"ERROR"}

        '
  recorded_at: Thu, 17 Mar 2022 22:42:42 GMT
recorded_with: VCR 3.0.3
