---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.wegift.io/api/b2b-sync/v1/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic REDACTED==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n  \"products\": [\n    {\n      \"availability\": \"realtime\",
        \n      \"card_image_url\": \"https://gift-sandbox.wegift.io/static/product_assets/ABO/ABO-card.png\",
        \n      \"code\": \"ABO-GB\", \n      \"currency_code\": \"GBP\", \n      \"denomination_type\":
        \"open\", \n      \"description\": \"Amongst the hustle and bustle of city
        life, All Bar One offers the perfect location to meet up with friends, and
        unwind from work.\\u00a0 Whether you want to catch up over cocktails, share
        a bottle of our lovingly chosen wine, or enjoy an excellent meal out, you\\u2019ll
        find something to suit you in All Bar One.\", \n      \"expiry_date_policy\":
        \"12 Months\", \n      \"maximum_value\": \"250.00\", \n      \"minimum_value\":
        \"5.00\", \n      \"name\": \"All Bar One\", \n      \"terms_and_conditions_url\":
        \"https://gift-sandbox.wegift.io/public/terms/ABO-GB.pdf\"\n    }, \n    {\n
        \     \"availability\": \"realtime\", \n      \"card_image_url\": \"https://gift-sandbox.wegift.io/static/product_assets/AMZ-GB/AMZ-GB-card.png\",
        \n      \"code\": \"AMZ-GB\", \n      \"currency_code\": \"GBP\", \n      \"denomination_type\":
        \"open\", \n      \"description\": \"Amazon.com, Inc. provides online retail
        shopping services. It provides services to four primary custo[...]
