---
http_interactions:
- request:
    method: get
    uri: https://playground.wegift.io/api/b2b-sync/v1/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Basic realm="Login Required"
    body:
      encoding: UTF-8
      string: '{"error_code":"SE001","error_details":"Invalid credentials","error_string":"Authentication
        failed","status":"ERROR"}

        '
  recorded_at: Tue, 26 Apr 2022 07:39:50 GMT
recorded_with: VCR 3.0.3
