---
http_interactions:
- request:
    method: get
    uri: https://playground.wegift.io/api/b2b-sync/v1/products/ARGOS-GB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"availability":"realtime","available_denominations":null,"available_in_days":1,"barcode_format":null,"card_image_url":"https://playground.wegift.io/static/product_assets/ARGOS-GB/ARGOS-GB-card.png","categories":["electricals","entertainment","fashion","jewellers","leisure-and-sports","toys-and-games"],"code":"ARGOS-GB","countries":["GB"],"currency_code":"GBP","denomination_type":"open","description":"50,000
        products, 1 eGift Card.\r\n\r\nThe new Argos eGift Card is the perfect way
        to get your hands on shiny new stuff. Fast.\r\n\r\nDelivered to you by email,
        you can spend your eGift Card online at argos.co.uk. Letting you shop from
        your sofa. Or the\r\npub. Or anywhere you like really. We don''t mind. Or
        you can use it in any of our 840 stores. Perfect if you fancy a bit of\r\nfresh
        air and a stroll. Either way, just enjoy spending it.\r\n\r\nWith over 50,000
        products to choose from at Argos, you''ve got some decisions to make. We have
        all the latest must have\r\nitems. From tech to toys, furniture to jewellery,
        there\u2018s bound to be a great gift for you.\r\n\r\nWant it today? With
        Argos Fast Track Delivery available on many items, Argos can deliver to your
        door the same day! Just\r\ncheck for the Fast Track badge on your selected
        product at argos.co.uk.\r\n\r\nSelect Argos eGift Card. Go Argos.","e_code_usage_type":"url-only","expiry_date_policy":"Expires
        2 years from issue date","expiry_in_months":24,"expiry_mode":"from-issue-date","logo_image_url":"https://playground.wegift.io/static/product_assets/ARGOS-GB/ARGOS-GB-logo.png","maximum_value":"500.00","minimum_value":"5.00","name":"Argos","percent_discount":"10.0000","redeem_instructions_html":"<p>Please
        check <a href=\"https://www.argos.co.uk/features/service-disruptions\">www.argos.co.uk/features/service-disruptions</a>
        for any disruptions in service during the Covid-19 outbreak. </p>\n<p>At Argos,
        you can choose from over 50,000 products, including the latest must have items.
        From tech to toys, furniture to jewellery, there''s bound to be a great gift
        for you.</p>\n<p>You can use your Argos eGift Card online <a href=\"http://www.argos.co.uk/\">argos.co.uk</a>
        or in any of our 840 stores nationwide. Want it today? With Argos Fast Track
        Delivery available on many items, Argos can deliver to your door the same
        day! Just check for the Fast Track badge on your selected product online.</p>\n<p>Let''s
        get started</p>\n<p><strong>Spending online</strong> \u2014 Click the link
        below to download your unique eGift Card number and PIN. Then simply visit
        <a href=\"http://www.argos.co.uk/\">argos.co.uk</a> and add your selected
        item(s) to the online basket. Proceed through to checkout, select your chosen
        method of delivery/collection and then input your eGift Card and PIN as payment.
        You can use the eGift Card as full or part payment, but please note only three
        eGift Cards can be used per transaction.</p>\n<p><strong>Spending ln-Store</strong>
        \u2014 Click the link below to download your unique eGift Card. Present this
        at the till point in your local Argos store either on your mobile device or
        as a print-out, Find your local store here: <a href=\"http://www.argos.co.uk/stores/\">argos.co.uk/stores/</a>.
        Then simply head to your chosen store to spend your award.</p>\n<p>Remember
        you can use the Fast Track Collection or Check &amp; Reserve service to ensure
        the item is available when you visit the store. These services are available
        on the Argos website \u2013 <a href=\"http://www.argos.co.uk/\">argos.co.uk</a>.</p>","redeemable_at":"all","state":"LIVE","terms_and_conditions_html":"<p>Please
        check <a href=\"https://www.argos.co.uk/features/service-disruptions\">www.argos.co.uk/features/service-disruptions</a>
        for any disruptions in service during the Covid-19 outbreak. </p>\n<p>eGift
        Cards may be redeemed in full or part payment for goods in any UK Argos store
        or online at <a href=\"http://www.argos.co.uk/\">www.argos.co.uk</a>, including
        current promotional offers, at the prevailing prices listed. eGift Cards cannot
        be used for purchases made over the phone. eGift Cards cannot be used for
        the purchase of other gift cards or vouchers. GBP \u00a3 eGift Cards cannot
        be redeemed in ROI. This eGift Card is not a credit, debit or cheque guarantee
        card, cannot be redeemed for cash or returned under the Argos 30 Day Guarantee
        and cannot be re-sold or re-tendered. This will not affect your statutory
        rights. Please see expiry date on the eGift Card. Argos Ltd reserve the right
        to decline or withdraw the eGift Card at any time. Treat this eGift Card like
        cash, Argos Ltd cannot be held liable for lost, stolen or damaged eGift Cards
        and they will not be replaced. To check your balance at any time please sign
        into your account at <a href=\"http://www.argos.co.uk/\">argos.co.uk</a> and
        use the balance checker provided.</p>","terms_and_conditions_pdf_url":"https://playground.wegift.io/public/terms/ARGOS-GB.pdf","terms_and_conditions_url":"https://playground.wegift.io/public/terms/ARGOS-GB.pdf","wrap_supported":true}

        '
  recorded_at: Tue, 26 Apr 2022 08:31:33 GMT
recorded_with: VCR 3.0.3
