---
http_interactions:
- request:
    method: get
    uri: https://playground.wegift.io/api/b2b-sync/v1/stock/BLUMEN-DE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"available_stock":[{"denomination":"20","quantity":10},{"denomination":"25","quantity":64},{"denomination":"30","quantity":63},{"denomination":"35","quantity":95},{"denomination":"45","quantity":69},{"denomination":"50","quantity":62},{"denomination":"65","quantity":77},{"denomination":"75","quantity":93},{"denomination":"90","quantity":68},{"denomination":"100","quantity":52}],"currency_code":"EUR","product_code":"BLUMEN-DE","product_name":"123
        Blumenversand DE"}

        '
  recorded_at: Fri, 18 Mar 2022 21:40:08 GMT
recorded_with: VCR 3.0.3
