---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.wegift.io/api/b2b-sync/v1/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Og==
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: "<html>\r\n<head><title>403 Forbidden</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>403
        Forbidden</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Mon, 26 Feb 2018 14:41:43 GMT
recorded_with: VCR 3.0.3
