---
http_interactions:
- request:
    method: get
    uri: https://playground.wegift.io/api/b2b-sync/v1/products/BLUMEN-DE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"availability":"stocked","available_denominations":["15.00","20.00","25.00","50.00","100.00"],"available_in_days":3,"barcode_format":null,"card_image_url":"https://playground.wegift.io/static/product_assets/BLUMEN-DE/BLUMEN-DE-card.png","categories":["food-and-drink","home-and-diy"],"code":"BLUMEN-DE","countries":["DE"],"currency_code":"EUR","denomination_type":"fixed","description":"Es
        gibt viele Anl\u00e4sse bei denen ein herrlicher frischer Blumenstrau\u00df
        die Augen der Beschenkten blitzen l\u00e4sst. Blumen verschicken war noch
        nie so einfach wie mit 123 Blumenversand. Ob es ein sch\u00f6ner bunter Blumenstrau\u00df
        zum Geburtstag  oder ein roter Rosenstrau\u00df f\u00fcr die Geliebte sein
        soll, f\u00fcr Sie versenden wir alle Blumen an Ihre Wunschlieferadresse.\r\nAls
        online Blumenversand verstehen wir es Ihre Zimmerpflanzen, Gestecke oder Blumenstr\u00e4u\u00dfe
        so zu versenden, dass wir die Frische Ihrer Blumen  garantieren k\u00f6nnen.","e_code_usage_type":null,"expiry_date_policy":"Expires
        2 years from issue date","expiry_in_months":24,"expiry_mode":"from-issue-date","logo_image_url":"https://playground.wegift.io/static/product_assets/BLUMEN-DE/BLUMEN-DE-logo.png","maximum_value":"100.00","minimum_value":"15.00","name":"123
        Blumenversand DE","percent_discount":"10.0000","redeem_instructions_html":"<p>Der
        gutschein kann auf der Seite \"Zahlung\" eingel\u00f6st werden. Der code eintragen
        und auf \"Gutschein einl\u00f6sen\" klicken.</p>","redeemable_at":"online","state":"LIVE","terms_and_conditions_html":"<p>F\u00fcr
        vollst\u00e4ndige Gesch\u00e4ftsbedingungen besuchen Sie bitte https://www.123blumenversand.de/de/content/2225_agb-und-info.html</p>","terms_and_conditions_pdf_url":"https://playground.wegift.io/public/terms/BLUMEN-DE.pdf","terms_and_conditions_url":"https://playground.wegift.io/public/terms/BLUMEN-DE.pdf","wrap_supported":false}

        '
  recorded_at: Tue, 26 Apr 2022 08:31:33 GMT
recorded_with: VCR 3.0.3
