---
http_interactions:
- request:
    method: get
    uri: https://playground.wegift.io/api/b2b-sync/v1/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic REDACTED==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"products":[{"availability":"stocked","available_denominations":["15.00","25.00","50.00","100.00"],"barcode_format":null,"card_image_url":"https://playground.wegift.io/static/product_assets/BLUMEN-DE/BLUMEN-DE-card.png","categories":["food-and-drink","home-and-diy"],"code":"BLUMEN-DE","countries":["DE"],"currency_code":"EUR","denomination_type":"fixed","description":"Es
        gibt viele Anl\u00e4sse bei denen ein herrlicher frischer Blumenstrau\u00df
        die Augen der Beschenkten blitzen l\u00e4sst. Blumen verschicken war noch
        nie so einfach wie mit 123 Blumenversand. Ob es ein sch\u00f6ner bunter Blumenstrau\u00df
        zum Geburtstag  oder ein roter Rosenstrau\u00df f\u00fcr die Geliebte sein
        soll, f\u00fcr Sie versenden wir alle Blumen an Ihre Wunschlieferadresse.\r\nAls
        online Blumenversand verstehen wir es Ihre Zimmerpflanzen, Gestecke oder Blumenstr\u00e4u\u00dfe
        so zu versenden, dass wir die Frische Ihrer Blumen  garantieren k\u00f6nnen.","e_code_usage_type":null,"expiry_date_policy":"Expires
        2 years from issue date","expiry_in_months":24,"expiry_mode":"from-issue-date","maximum_value":"100.00","minimum_value":"15.00","name":"123
        Blumenversand DE","percent_discount":"10.0","redeem_instructions_html":"<p>Der
        gutschein kann auf der Seite \"Zahlung\" eingel\u00f6st werden. Der code eintragen
        und auf \"Gutschein einl\u00f6sen\" klicken.</p>","state":"LIVE","terms_and_conditions_html":"<p>F\u00fcr
        vollst\u00e4ndige Gesch\u00e4ftsbedingungen besuchen Sie bitte https://www.123blumenversand.de/de/content/2225_agb-und-info.html</p>","terms_and_conditions_pdf_url":"https://playground.wegift.io/public/terms/BLUMEN-DE.pdf","terms_and_conditions_url":"https://playground.wegift.io/public/terms/BLUMEN-DE.pdf","wrap_supported":false},{"availability":"realtime","available_denominations":null,"barcode_format":null,"card_image_url":"https://playground.wegift.io/static/product_assets/1800BAS-US/1800BAS-US-card.png","categories":["department-stores"],"code":"1800BAS-US","countries":["US"],"currency_code":"USD","denomination_type":"open","description":"1-800-Baskets.com\u00ae
        has a large selection of expertly designed and thoughtfully crafted gift baskets
        including fruits, gourmet foods, snacks, candies, and spa and wellness gifts
        perfect for such occasions as anniversaries, birthdays, housewarmings, new
        babies, career achievements, sympathy sentiments, and get well wishes. This
        gift card can also be redeemed at any of 1800Flowers.com nine brands.","e_code_usage_type":null,"expiry_date_policy":"Does
        not expire","expiry_in_months":null,"expiry_mode":"indefinite","maximum_value":"100.00","minimum_value":"10.00","name":"1-800
        Baskets","percent_discount":"10.0","redeem_instructions_html":"<p>Gift cards
        are redeemable:</p>\n<ul>\n<li>Online at www.1800baskets.com, www.1800flowers.com,
        www.cheryls.com, www.fruitbouquets.com, www.thepopcornfactory.com, www.harryanddavid.com,
        www.wolfermans.com, www.stockyards.com, www.personalizationuniverse.com and
        www.simplychocolate.com.</li>\n<li>By phone on orders for 1-800-BASKETS.COM,
        1-800-FLOWERS.com\u00ae, FruitBouquets, Cheryl''s\u00ae, and The Popcorn Factory.</li>\n<li>At
        our company owned and participating franchised retail store locations [...]
