---
http_interactions:
- request:
    method: get
    uri: https://playground.wegift.io/api/b2b-sync/v1/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Og==
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: UNAUTHORIZED
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Basic realm="Login Required"
    body:
      encoding: UTF-8
      string: "{\n  \"error_code\": \"SE001\", \n  \"error_details\": \"Invalid credentials\",
        \n  \"error_string\": \"Authentication failed\", \n  \"status\": \"ERROR\"\n}\n"
  recorded_at: Mon, 26 Nov 2018 14:58:51 GMT
recorded_with: VCR 3.0.3
