---
http_interactions:
- request:
    method: get
    uri: https://playground.wegift.io/public/gifts/instant/c02bd09f-0000-0000-0000-38f4143a01d1?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"RE001","error_details":"The e-code was not found. Please
        check the link.","error_string":"E-code not found","status":"ERROR"}

        '
  recorded_at: Thu, 06 Oct 2022 07:13:37 GMT
recorded_with: VCR 3.0.3
