---
http_interactions:
- request:
    method: post
    uri: https://playground.wegift.io/api/b2b-sync/v1/order-digital-card
    body:
      encoding: UTF-8
      string: '{"product_code":"ATHLTA-US","currency_code":"USD","amount":"10.00","delivery_method":"direct","delivery_format":"raw","notification_email":null,"delivery_email":null,"external_ref":"1582191719"}'
    headers:
      Authorization:
      - Basic REDACTED==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"e_code":{"amount":"10","barcode_format":"code-128","barcode_string":"b31b19fe976844f4bd39d0ebe2819e7d","code":"b31b19fe976844f4bd39d0ebe2819e7d","error_code":null,"error_string":null,"expiry_date":"2018-10-16","pin":"1422","status":"SUCCESS"},"e_codes":[{"amount":"10","barcode_format":"code-128","barcode_string":"b31b19fe976844f4bd39d0ebe2819e7d","code":"b31b19fe976844f4bd39d0ebe2819e7d","error_code":null,"error_string":null,"expiry_date":"2018-10-16","pin":"1422","status":"SUCCESS"}],"error_code":null,"error_details":null,"error_string":null,"order_id":"O-XKRDDR84","status":"SUCCESS"}

'
  recorded_at: Thu, 20 Feb 2020 09:42:00 GMT
recorded_with: VCR 3.0.3
