---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.wegift.io/api/b2b-sync/v1/order-digital-card
    body:
      encoding: UTF-8
      string: '{"product_code":"AMZ-GB","currency_code":"GBP","amount":10,"delivery_method":"direct","delivery_format":"raw","notification_email":null,"delivery_email":null,"external_ref":"1508239091"}'
    headers:
      Authorization:
      - Basic REDACTED==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n  \"e_code\": {\n    \"code\": \"5X4K-ZLN9NW-TGC9\", \n    \"error_code\":
        null, \n    \"error_string\": null, \n    \"expiry_date\": \"2027-10-17\",
        \n    \"pin\": null, \n    \"status\": \"SUCCESS\"\n  }, \n  \"error_code\":
        null, \n  \"error_details\": null, \n  \"error_string\": null, \n  \"order_id\":
        22343, \n  \"status\": \"SUCCESS\"\n}\n"
  recorded_at: Tue, 17 Oct 2017 11:18:16 GMT
recorded_with: VCR 3.0.3
