---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.wegift.io/api/b2b-sync/v1/order-digital-card
    body:
      encoding: UTF-8
      string: '{"product_code":"tTV","currency_code":"GBP","amount":"0","delivery_method":"direct","delivery_format":"raw","notification_email":null,"delivery_email":null,"external_ref":null}'
    headers:
      Authorization:
      - Basic REDACTED==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n  \"error_code\": \"SE003\", \n  \"error_details\": \"Invalid amount
        \\\"0\\\" - amount must be positive\", \n  \"error_string\": \"Field has invalid
        value\", \n  \"status\": \"ERROR\"\n}\n"
  recorded_at: Mon, 26 Feb 2018 14:41:25 GMT
recorded_with: VCR 3.0.3
