---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.wegift.io/api/b2b-sync/v1/order-digital-card
    body:
      encoding: UTF-8
      string: '{"product_code":"AMZ-AT","currency_code":"EUR","amount":10,"delivery_method":"direct","delivery_format":"url-instant","notification_email":null,"delivery_email":null,"external_ref":"1519656094"}'
    headers:
      Authorization:
      - Basic REDACTED==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n  \"e_code\": {\n    \"delivery_url\": \"https://gift-sandbox.wegift.io/public/gifts/instant/cbbedfcd-7842-45db-bc38-1f3ba1fb4e28\",
        \n    \"error_code\": null, \n    \"error_string\": null, \n    \"expiry_date\":
        \"2020-02-26\", \n    \"status\": \"SUCCESS\"\n  }, \n  \"error_code\": null,
        \n  \"error_details\": null, \n  \"error_string\": null, \n  \"order_id\":
        \"O-JKYRX9NV\", \n  \"status\": \"SUCCESS\"\n}\n"
  recorded_at: Mon, 26 Feb 2018 14:41:42 GMT
recorded_with: VCR 3.0.3
