---
http_interactions:
- request:
    method: post
    uri: https://playground.wegift.io/api/b2b-sync/v1/order-digital-card
    body:
      encoding: UTF-8
      string: '{"product_code":"NOPE","currency_code":"5","amount":"4","delivery_method":"2","delivery_format":"3","notification_email":null,"delivery_email":null,"external_ref":"6"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"SE003","error_details":"Invalid delivery method: \"2\".
        Valid values are: \"direct\", \"email\"","error_string":"Field has invalid
        value","status":"ERROR"}

        '
  recorded_at: Tue, 26 Apr 2022 08:31:24 GMT
recorded_with: VCR 3.0.3
