---
http_interactions:
- request:
    method: post
    uri: https://playground.wegift.io/api/b2b-sync/v1/order-digital-card
    body:
      encoding: UTF-8
      string: '{"product_code":"1800BAS-US","currency_code":"USD","amount":10,"delivery_method":"direct","delivery_format":"raw","notification_email":null,"delivery_email":null,"external_ref":"1582191717"}'
    headers:
      Authorization:
      - Basic REDACTED==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"e_code":{"amount":"10.00","barcode_format":null,"barcode_string":null,"code":"8219171839115386","error_code":null,"error_string":null,"expiry_date":"3000-01-01","pin":"018901","status":"SUCCESS"},"e_codes":[{"amount":"10.00","barcode_format":null,"barcode_string":null,"code":"8219171839115386","error_code":null,"error_string":null,"expiry_date":"3000-01-01","pin":"018901","status":"SUCCESS"}],"error_code":null,"error_details":null,"error_string":null,"order_id":"O-MV2RRNL4","status":"SUCCESS"}

'
  recorded_at: Thu, 20 Feb 2020 09:41:58 GMT
recorded_with: VCR 3.0.3
