---
http_interactions:
- request:
    method: post
    uri: https://playground.wegift.io/api/b2b-sync/v1/order-digital-card
    body:
      encoding: UTF-8
      string: '{"product_code":"AMZ-AT","currency_code":"EUR","amount":10,"delivery_method":"direct","delivery_format":"url-instant","notification_email":null,"delivery_email":null,"external_ref":"1543244400.3503325"}'
    headers:
      Authorization:
      - Basic REDACTED==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n  \"e_code\": {\n    \"delivery_url\": \"https://playground.wegift.io/public/gifts/instant/92f6d085-a98b-4176-84af-0e0430b4e025\",
        \n    \"error_code\": null, \n    \"error_string\": null, \n    \"expiry_date\":
        \"2019-11-26\", \n    \"status\": \"SUCCESS\"\n  }, \n  \"e_codes\": [\n    {\n
        \     \"delivery_url\": \"https://playground.wegift.io/public/gifts/instant/92f6d085-a98b-4176-84af-0e0430b4e025\",
        \n      \"error_code\": null, \n      \"error_string\": null, \n      \"expiry_date\":
        \"2019-11-26\", \n      \"status\": \"SUCCESS\"\n    }\n  ], \n  \"error_code\":
        null, \n  \"error_details\": null, \n  \"error_string\": null, \n  \"order_id\":
        \"O-W24XEPK5\", \n  \"status\": \"SUCCESS\"\n}\n"
  recorded_at: Mon, 26 Nov 2018 15:00:00 GMT
recorded_with: VCR 3.0.3
