---
http_interactions:
- request:
    method: post
    uri: https://playground.wegift.io/api/b2b-sync/v1/order-digital-card
    body:
      encoding: UTF-8
      string: '{"product_code":"BBQG-AU","currency_code":"AUD","amount":"20.00","delivery_method":"direct","delivery_format":"raw","notification_email":null,"delivery_email":null,"external_ref":"1582190341"}'
    headers:
      Authorization:
      - Basic REDACTED==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"e_code":{"amount":"20.00","barcode_format":"code-128","barcode_string":"8219034140705340","code":"8219034140705340","error_code":null,"error_string":null,"expiry_date":"2023-02-20","pin":"590072","status":"SUCCESS"},"e_codes":[{"amount":"20.00","barcode_format":"code-128","barcode_string":"8219034140705340","code":"8219034140705340","error_code":null,"error_string":null,"expiry_date":"2023-02-20","pin":"590072","status":"SUCCESS"}],"error_code":null,"error_details":null,"error_string":null,"order_id":"O-DV7JJW6K","status":"SUCCESS"}

'
  recorded_at: Thu, 20 Feb 2020 09:19:02 GMT
recorded_with: VCR 3.0.3
