---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.wegift.io/api/b2b-sync/v1/order-digital-card
    body:
      encoding: UTF-8
      string: '{"product_code":"AMZ-GB","currency_code":"GBP","amount":10,"delivery_method":"direct","delivery_format":"url-instant","notification_email":null,"delivery_email":null,"external_ref":"1510229887"}'
    headers:
      Authorization:
      - Basic REDACTED==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n  \"e_code\": {\n    \"delivery_url\": \"https://gift-sandbox.wegift.io/public/gifts/instant/34dff083-8411-41e6-b022-1f2cba73f33d\",
        \n    \"error_code\": null, \n    \"error_string\": null, \n    \"status\":
        \"SUCCESS\"\n  }, \n  \"error_code\": null, \n  \"error_details\": null, \n
        \ \"error_string\": null, \n  \"order_id\": 22940, \n  \"status\": \"SUCCESS\"\n}\n"
  recorded_at: Thu, 09 Nov 2017 12:18:12 GMT
recorded_with: VCR 3.0.3
