---
http_interactions:
- request:
    method: post
    uri: https://playground.wegift.io/api/b2b-sync/v1/order-digital-card
    body:
      encoding: UTF-8
      string: '{"product_code":"tTV","currency_code":"GBP","amount":"0","delivery_method":"direct","delivery_format":"raw","notification_email":null,"delivery_email":null,"external_ref":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"SE003","error_details":"Invalid amount \"0\" - amount
        must be positive","error_string":"Field has invalid value","status":"ERROR"}

        '
  recorded_at: Tue, 26 Apr 2022 08:31:25 GMT
recorded_with: VCR 3.0.3
