---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.wegift.io/api/b2b-sync/v1/order-digital-card
    body:
      encoding: UTF-8
      string: '{"product_code":"AMZ-AT","currency_code":"EUR","amount":10,"delivery_method":"direct","delivery_format":"raw","notification_email":null,"delivery_email":null,"external_ref":"1519656086"}'
    headers:
      Authorization:
      - Basic REDACTED==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n  \"e_code\": {\n    \"code\": \"39SF-HNFFSY-2RF2\", \n    \"error_code\":
        null, \n    \"error_string\": null, \n    \"expiry_date\": \"2020-02-26\",
        \n    \"pin\": null, \n    \"status\": \"SUCCESS\"\n  }, \n  \"error_code\":
        null, \n  \"error_details\": null, \n  \"error_string\": null, \n  \"order_id\":
        \"O-8VAQXJDK\", \n  \"status\": \"SUCCESS\"\n}\n"
  recorded_at: Mon, 26 Feb 2018 14:41:34 GMT
recorded_with: VCR 3.0.3
