---
http_interactions:
- request:
    method: post
    uri: https://playground.wegift.io/api/b2b-sync/v1/order-digital-card
    body:
      encoding: UTF-8
      string: '{"product_code":"ADAS-AT","currency_code":"EUR","amount":"0.01","delivery_method":"direct","delivery_format":"raw","notification_email":null,"delivery_email":null,"external_ref":"1650958790"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"e_code":{"amount":"0.01","barcode_format":"code-128","barcode_string":"5095879069764182","code":"5095879069764182","error_code":null,"error_string":null,"expiry_date":"2025-04-26","pin":"063144","status":"SUCCESS","type":"code"},"e_codes":[{"amount":"0.01","barcode_format":"code-128","barcode_string":"5095879069764182","code":"5095879069764182","error_code":null,"error_string":null,"expiry_date":"2025-04-26","pin":"063144","status":"SUCCESS","type":"code"}],"error_code":null,"error_details":null,"error_string":null,"order_id":"O-949XDX6V","status":"SUCCESS"}

        '
  recorded_at: Tue, 26 Apr 2022 07:39:50 GMT
recorded_with: VCR 3.0.3
