---
http_interactions:
- request:
    method: post
    uri: https://playground.wegift.io/api/b2b-sync/v1/order-digital-card
    body:
      encoding: UTF-8
      string: '{"product_code":"1800BAS-US","currency_code":"USD","amount":10,"delivery_method":"direct","delivery_format":"raw","notification_email":null,"delivery_email":null,"external_ref":"1650961888"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"e_code":{"amount":"10.00","barcode_format":null,"barcode_string":null,"code":"5096188913671685","error_code":null,"error_string":null,"expiry_date":"3000-01-01","pin":"895438","status":"SUCCESS","type":"code"},"e_codes":[{"amount":"10.00","barcode_format":null,"barcode_string":null,"code":"5096188913671685","error_code":null,"error_string":null,"expiry_date":"3000-01-01","pin":"895438","status":"SUCCESS","type":"code"}],"error_code":null,"error_details":null,"error_string":null,"order_id":"O-9V6J8LN4","status":"SUCCESS"}

        '
  recorded_at: Tue, 26 Apr 2022 08:31:30 GMT
recorded_with: VCR 3.0.3
