---
http_interactions:
- request:
    method: post
    uri: http://sandbox.wegift.io/api/b2b-sync/v1/order-digital-card
    body:
      encoding: UTF-8
      string: '{"product_code":"tTV","delivery":"direct","amount":"1","currency_code":"GBP","external_ref":null}'
    headers:
      Authorization:
      - Basic REDACTED==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n  \"e_code\": {\n    \"code\": \"B7268MqgucEIL3797H\", \n    \"error_code\":
        null, \n    \"error_string\": null, \n    \"expiry_date\": \"2019-04-12\",
        \n    \"pin\": \"2149\", \n    \"status\": \"SUCCESS\"\n  }, \n  \"error_code\":
        null, \n  \"error_details\": null, \n  \"error_string\": null, \n  \"order_id\":
        21467, \n  \"status\": \"SUCCESS\"\n}\n"
  recorded_at: Tue, 11 Apr 2017 11:35:57 GMT
recorded_with: VCR 3.0.3
