---
http_interactions:
- request:
    method: post
    uri: https://playground.wegift.io/api/b2b-sync/v1/order-digital-card
    body:
      encoding: UTF-8
      string: '{"product_code":"NOPE","currency_code":"5","amount":"4","delivery_method":"2","delivery_format":"3","notification_email":null,"delivery_email":null,"external_ref":"6"}'
    headers:
      Authorization:
      - Basic REDACTED==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n  \"error_code\": \"SE003\", \n  \"error_details\": \"Invalid delivery
        method: \\\"2\\\". Valid values are: \\\"direct\\\", \\\"email\\\"\", \n  \"error_string\":
        \"Field has invalid value\", \n  \"status\": \"ERROR\"\n}\n"
  recorded_at: Mon, 26 Nov 2018 14:58:47 GMT
recorded_with: VCR 3.0.3
