---
http_interactions:
- request:
    method: post
    uri: http://sandbox.wegift.io/api/b2b-sync/v1/order-digital-card
    body:
      encoding: UTF-8
      string: '{"product_code":"NOPE","delivery":"direct","amount":"3","currency_code":"4","external_ref":"5"}'
    headers:
      Authorization:
      - Basic REDACTED==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n  \"error_code\": \"SE003\", \n  \"error_details\": \"Invalid product
        \\\"NOPE\\\" - this product either doesn't exist or is not currently enabled\",
        \n  \"error_string\": \"Field has invalid value\", \n  \"status\": \"ERROR\"\n}\n"
  recorded_at: Tue, 11 Apr 2017 11:35:56 GMT
recorded_with: VCR 3.0.3
