---
http_interactions:
- request:
    method: post
    uri: https://playground.wegift.io/api/b2b-sync/v1/order-digital-card
    body:
      encoding: UTF-8
      string: '{"product_code":"AMZ-AT","currency_code":"EUR","amount":10,"delivery_method":"direct","delivery_format":"raw","notification_email":null,"delivery_email":null,"external_ref":"1543244330"}'
    headers:
      Authorization:
      - Basic REDACTED==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n  \"e_code\": {\n    \"amount\": \"10.00\", \n    \"barcode_format\":
        null, \n    \"barcode_string\": null, \n    \"code\": \"4324433046945145\",
        \n    \"error_code\": null, \n    \"error_string\": null, \n    \"expiry_date\":
        \"2019-11-26\", \n    \"pin\": \"867105\", \n    \"status\": \"SUCCESS\"\n
        \ }, \n  \"e_codes\": [\n    {\n      \"amount\": \"10.00\", \n      \"barcode_format\":
        null, \n      \"barcode_string\": null, \n      \"code\": \"4324433046945145\",
        \n      \"error_code\": null, \n      \"error_string\": null, \n      \"expiry_date\":
        \"2019-11-26\", \n      \"pin\": \"867105\", \n      \"status\": \"SUCCESS\"\n
        \   }\n  ], \n  \"error_code\": null, \n  \"error_details\": null, \n  \"error_string\":
        null, \n  \"order_id\": \"O-5RV35A4L\", \n  \"status\": \"SUCCESS\"\n}\n"
  recorded_at: Mon, 26 Nov 2018 14:58:50 GMT
recorded_with: VCR 3.0.3
